data/xsd/route.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="route">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="node" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:byte" name="id" use="optional" />
											<xs:attribute type="xs:int" name="fstring_index" use="optional" />
											<xs:attribute type="xs:byte" name="social_number" use="optional" />
											<xs:attribute type="xs:byte" name="delay" use="optional" />
											<xs:attribute type="xs:int" name="x" use="optional" />
											<xs:attribute type="xs:int" name="y" use="optional" />
											<xs:attribute type="xs:short" name="z" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="alias" />
						<xs:attribute type="xs:string" name="move_type" />
						<xs:attribute type="xs:boolean" name="isRunning" />
						<xs:attribute type="xs:boolean" name="cycling" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>